<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <title>Registro</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/autenticacao.css">

</head>

<body>
    <div class="signup-form">
        <form action="/createuser" method="post" id="signupForm">
            <img src="images/logo.png" class="logo-image img-fluid">
            <hr>

            <div style="display: flex;flex-direction: column; align-items: center;">
                <h2>Registro</h2>
                <p>Preencha o formulário para criar sua conta!</p>
            </div>
            <hr>
            <div class="form-group">
				<% if (signUpError) { %>
                    <p class="error-message"><%= signUpError %></p>
                <% } %>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <span class="fa fa-user"></span>
                        </span>
                    </div>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Nome Completo" required>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                    </div>
                    <input type="email" class="form-control" name="email" placeholder="E-mail" id="exampleInputEmail1" required="required">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-lock"></i>
                        </span>
                    </div>
                    <input type="password" class="form-control" name="password" placeholder="Senha" id="exampleInputPassword1" required="required">
                </div>
            </div>
            <div class="form-group" style="display: flex;flex-direction: column; align-items: center;">
                <button type="submit" class="btn btn-primary btn-lg">Registrar</button>
            </div>
            <div class="text-center">Já possui uma conta? <a href="/login">Clique aqui!</a></div>

        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script>
        document.getElementById('username').addEventListener('input', function (event) {
            this.value = this.value.replace(/[^a-zA-Z\s]/g, '');
        });
    </script>
</body>

</html>
