
body {
  font-family: 'Kanit', sans-serif;
  margin: 0;
  padding: 0;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  flex-direction: column;
  
}
.logo{
  background-color: #0f0703;
  border-radius: 15px;
  margin: 15px;

}
.container {
  display: flex;
  width: 90%;
  max-width: 1000px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: auto;
  border-radius: 20px;
  flex-direction: column;
}


.left-panel, .right-panel {
  padding: 20px;
  flex: 1;
  border-radius: 20px;
}

.left-panel {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.right-panel {
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 20px;
  flex: 1;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 65%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.checkbox-group {
  margin: 20px 0;
  display: flex;
  align-items: center;
}

.checkbox-group input[type="checkbox"] {
  margin-right: 10px;
}

.btn {
  background-color: #140302;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.btn.extra {
  background-color: #4a0f0f;
  margin-bottom: 15px;
}

#calendar-container {
  width: 100%;  
  height: 80%;
  margin: auto;  
  text-align: center;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

#calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;  
}

#calendar {
  width: 100%;  
  border-collapse: collapse; 
  margin: auto;  
}

#calendar th, #calendar td {
  padding: 10px;
  text-align: center;
}

#calendar th {
  background-color: #0f0703;
  color: white;
}

#calendar td:hover {
  background-color: #169305; 
  cursor: pointer; 
}

#prev-month, #next-month {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 18px;
  margin: 0 5px;  
}

.disabled-day {
  background-color: #f89f9f;
  color: #7c0000;
  pointer-events: none; 
}

.holiday {
  background-color: #FFA07A; 
  color: white;
  pointer-events: none; 
}

.selected-day {
  background-color: #169305; 
  color: rgb(255, 255, 255);
  transition: 0.2s;
}
.selected-day:active{
  background-color: #169305; 
  color: rgb(255, 255, 255);
  transition: 0.2s;
}

.selected-day:hover{
  background-color: #169305; 
  color: rgb(255, 255, 255);
  transition: 0.2s;
}

.confirm {
  width: 50%;
  padding: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  text-align: center;
  margin-top: 15px;
}

.confirm:hover{
  background-color: green;
  transition: 0.2s;
}

@media (max-width: 748px ) {
  .container {
      flex-direction: column;
      height: auto;
      width: 90%;
      align-items: center;
  }
  .left-panel{
    padding: 5px;
    align-items: center;
    justify-content: center; 
    width: 90%;
    display: grid;
  }

  .left-panel, .right-panel {
      width: 100%;
      padding: 10px;
  }

  #calendar-container {
      height: auto;
  }

  .form-control, .btn {
      width: 100%;
  }
}

@media (max-width: 480px) {
  .checkbox-group {
      flex-direction: column;
  }

  .checkbox-group label {
      margin-top: 5px;
  }

  .btn {
      padding: 12px 20px;
      margin-top: 20px;
  }
}
@media (max-height: 498px ) {
  .container {
      flex-direction: column;
      height: auto;
      margin: auto;
  }

  .left-panel, .right-panel {
      width: 90%;
      padding: 10px;
  }

  #calendar-container {
      height: auto;
  }

  .form-control, .btn {
      width: 100%;
  }
}

@media (max-height: 468px) {
  .checkbox-group {
      flex-direction: column;
  }

  .checkbox-group label {
      margin-top: 5px;
  }

  .btn {
      padding: 12px 20px;
      margin-top: 20px;
  }
}

.booking-panel {
  background-color: #f8f8f8;
  border-radius: 20px;
  margin-top: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 100%;
}

.form-control {
  width: 57%; 
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

@media (max-width: 480px), (max-height: 480px) {
  .booking-panel {
      padding: 10px;
      margin-top: 10px;
      width: 100%;
  }
}

@media (max-width: 480px), (max-height: 480px) {
  .booking-panel {
      padding: 5px;
      align-items: center;
      justify-content: center; 
      width: 100%;
      display: grid;
  }

  .form-control, .btn {
      width: 80%;
      justify-content: center;
      align-items: center;
      

  }
}

.time-picker-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 300px;
}

.btn {
  margin: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

.topo{
 flex-direction:row; 
 display: flex;
 align-items: center;
 justify-content: center;
 width: 100%;
 background-color: #0f0703;
}

.myagend{
  height: 100px;
  width: 150px;
  background-color: #cb0000;
  border: #cb0000;
  color: white;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  border-radius: 15px;
  padding: 15px;
  transition: transform 1s;
  transform: translateX(0) scale(1);
}

.myagend:hover{
  background-color: rgb(178, 0, 0);
  color: rgb(255, 255, 255);
  transition: transform 0.5s;
  transform: translateX(0) scale(1.1);


}
.return{
  height: 100px;
  width: 150px;
  background-color: #cb0000;
  border: #cb0000;
  color: white;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  border-radius: 15px;
  padding: 15px;
  transition: transform 1s;
  transform: translateX(0) scale(1);
}

.return:hover{
  background-color: rgb(178, 0, 0);
  color: rgb(255, 255, 255);
  transition: transform 0.5s;
  transform: translateX(0) scale(1.1);

}

@media (max-width: 768px) {

  body{
    scale: 0.5px;
  }
  .myagend, .return {
    width: 50%;  
    height: 75px;
  }
  .logo{
    width: 100%;
  }
  .topo{
  width: 100%;  
  }
}

.menu-button {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.menu-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}



@media (max-width: 768px) {
  .menu-button {
      display: block; 
  }

  .menu-content {
      display: none; 
      flex-direction: column;
      width: 100%;
  }

  .topo.active .menu-content {
      display: flex; 
  }
}

.form-time{
  padding: 15px;
  justify-content: center;
  flex-direction: column;
  display:grid;
}
.appointment-date{
  width: 25%;
}