
body {
  font-family: 'Kanit', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.container {
  display: flex;
  width: 90%;
  max-width: 1000px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 80%;
  border-radius: 20px;
}

.left-panel, .right-panel {
  padding: 20px;
  flex: 1;
  border-radius: 20px;
}

.left-panel {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right-panel {
  background-color: #1e1414;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 20px;
  flex: 1;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.checkbox-group {
  margin: 20px 0;
  display: flex;
  align-items: center;
}

.checkbox-group input[type="checkbox"] {
  margin-right: 10px;
}

.btn {
  background-color: #140302;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.btn.extra {
  background-color: #555;
}

#calendar-container {
  width: 100%;  
  height: 80%;
  margin: auto;  
  text-align: center;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

#calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;  
}

#calendar {
  width: 100%;  
  border-collapse: collapse; 
  margin: auto;  
}

#calendar th, #calendar td {
  padding: 10px;
  text-align: center; 
}

#calendar th {
  background-color: #0f0703;
  color: white;
}

#calendar td:hover {
  background-color: #f0f0f0;
}

#prev-month, #next-month {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 18px;
  margin: 0 5px;  
}

.disabled-day {
  background-color: #e0dddd;
  color: #7c0000;
  pointer-events: none; 
}

.holiday {
  background-color: #FFA07A; 
  color: white;
  pointer-events: none; 
}

.selected-day {
  background-color: #169305; 
  color: rgb(255, 255, 255);
  transition: 0.2s;
}

.confirm {
  width: 100%;
  padding: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  text-align: center;
  margin-top: auto;
}

@media (max-width: 768px ) {
  .container {
      flex-direction: column;
      height: auto;
  }

  .left-panel, .right-panel {
      width: 100%;
      padding: 10px;
  }

  #calendar-container {
      height: auto;
  }

  .form-control, .btn {
      width: 100%;
  }
}

@media (max-width: 480px) {
  .checkbox-group {
      flex-direction: column;
  }

  .checkbox-group label {
      margin-top: 5px;
  }

  .btn {
      padding: 12px 20px;
      margin-top: 20px;
  }
}
@media (max-height: 578px ) {
  .container {
      flex-direction: column;
      height: auto;
  }

  .left-panel, .right-panel {
      width: 100%;
      padding: 10px;
  }

  #calendar-container {
      height: auto;
  }

  .form-control, .btn {
      width: 100%;
  }
}

@media (max-height: 468px) {
  .checkbox-group {
      flex-direction: column;
  }

  .checkbox-group label {
      margin-top: 5px;
  }

  .btn {
      padding: 12px 20px;
      margin-top: 20px;
  }
}
